            
    <script src="libs/jquery/dist/jquery.min.js"></script>
    <script src="libs/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="js/bootstrap-select.js"></script>
    <script src="js/main.js"></script>
</body>
</html>
<script>
$(function () {
    $.get('/ajax', {},
        function (msg) {
            var html = '', i = 0;
            msg = $.parseJSON(msg);
            for (; i < msg.length; i += 1) {
                html += '<li><a href="/details?id='+msg[i]._id+'" title="'+msg[i].meta.updateAt+'">'+msg[i].title+'</a></li>';
            }
            $('#topArchives').html(html);
        },'text'
    );
    
    if ('<%= tips %>' !== '') {
        tips('<%= tips %>');
    }
});
function tips(tipsContent) {
    function hideModal() {
        $('#tipsModel').modal('hide');
    }
    $('#tipsModel').find('.modal-body h4').html(tipsContent);
    $('#tipsModel').modal('show');
    setTimeout(hideModal, 1000);
}

</script>