<!DOCTYPE>
<html>
<head>
	<meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title><%= title %></title>
    <link href="libs/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="libs/bootstrap/dist/css/blog.css" rel="stylesheet">
    <link href="css/style.css" rel="stylesheet">

</head>
<body>
	<div class="blog-masthead">
    <div class="container">
      <nav class="blog-nav">
        <a class="blog-nav-item" href="/">Home</a>
        <a class="blog-nav-item" href="/post">Post</a>
        <a class="blog-nav-item" href="/about">About</a>
      </nav>
    </div>
  </div>
  <div id="tipsModel" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-sm">
      <div class="modal-content">
        <div class="modal-header modal-sm">
          <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
          <h4 class="modal-title">提示</h4>
        </div>
        <div class="modal-body">
          <p><h4></h4></p>
        </div>
        <div class="modal-footer"></div>
      </div>
    </div>
  </div>