
<%- include header %>
    <div class="container">

        <%- include containerHeader %>
            <ul class="nav nav-tabs" role="tablist" id="myTab">
                <li role="presentation" class="active"><a href="#blogList" role="tab" data-toggle="tab">个人博客列表</a></li>
                <li role="presentation" id="selfInfo"><a href="#reviseInfo" role="tab" data-toggle="tab">修改个人信息</a></li>
                <li role="presentation"><a href="#revisePw" role="tab" data-toggle="tab">修改密码</a></li>
            </ul>

            <div class="tab-content">
                <div role="tabpanel" class="tab-pane active" id="blogList">
              
                    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                                    <h4 class="modal-title" id="myModalLabel">Modal title</h4>
                                </div>
                                <div class="modal-body">
                                    <form class="form-horizontal" role="form" method="post">
                                        <input type="hidden" name="id">
                                        <div class="form-group">
                                            <label for="inputEmail3" class="col-sm-2 control-label">标题</label>
                                            <div class="col-sm-9">
                                                <input type="text" class="form-control" placeholder="Ttitle" name="title">
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label for="tag" class="col-sm-2 control-label">标签</label>
                                            <div class="col-sm-9 form-inline">
                                                <select name="tag" class="form-control" id="tagSelect"></select>
                                                <button class="btn" type="button" id="addTag">增加标签</button>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label for="inputPassword3" class="col-sm-2 control-label">内容</label>
                                            <div class="col-sm-9">
                                                <textarea class="form-control" rows="15" placeholder="Content" name="content"></textarea>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                    <button type="button" class="btn btn-primary" id="savePost">Save changes</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <table class="table table-hover" id="archivesList">
                        <thead>
                            <tr>
                                <th>id</th>
                                <th>Title</th>
                                <th>Author</th>
                                <th>PublishTime</th>
                                <th>operations</th>
                            </tr>
                        </thead>
                        <tbody>
                        </tbody>
                    </table>
                

                    <nav>
                        <ul class="pager" id="archivesPage"></ul>
                    </nav>
                </div>
                <div role="tabpanel" class="tab-pane" id="reviseInfo">
                    <div style="margin-top:20px;">
                        <form class="form-horizontal reviseFrm" role="form" action="/personalPage/reviseUserInfo" method="post">
                            <div class="form-group">
                                <label for="username" class="col-sm-1 control-label">username</label>
                                <div class="col-sm-5">
                                <input type="text" class="form-control" name="username" id="username" placeholder="username" required>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-sm-offset-1 col-sm-5">
                                    <button type="submit" class="btn btn-default" id="infoBtn">提交</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
                <div role="tabpanel" class="tab-pane" id="revisePw">
                    <div style="margin-top:20px;">
                        <form class="form-horizontal reviseFrm" role="form" action="/personalPage/revisePw" method="post" id="revisePwForm">
                            <div class="form-group">
                                <label for="origin" class="col-sm-1 control-label">origin</label>
                                <div class="col-sm-5">
                                <input type="password" class="form-control" id="origin" name="originPw" placeholder="origin" required>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="newPw" class="col-sm-1 control-label">new</label>
                                <div class="col-sm-5">
                                    <input type="password" class="form-control" id="newPw" name="newPw" placeholder="new" required>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="confirmPw" class="col-sm-1 control-label">confirm</label>
                                <div class="col-sm-5">
                                    <input type="password" class="form-control" id="confirmPw" name="confirmPw" placeholder="confirm" required>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-sm-offset-1 col-sm-5">
                                    <button type="submit" class="btn btn-default" id="pwBtn">提交</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <!-- 增加标签模态框-start -->
            <div class="modal fade bs-example-modal-sm" id="addTagModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                <div class="modal-dialog modal-sm">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                            <div class="modal-title" style="font-size:20px;">增加标签</div>
                        </div>
                        <div class="modal-body">
                            <form class="form-inline" role="form">
                              <div class="form-group">
                                <input type="text" class="form-control" placeholder="标签名" id="addTagName" required>
                                <button class="btn btn-primary" type="button" id="addTagBtn">增加</button>
                              </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <!-- 增加标签模态框-end -->
<%- include footer %>
<script>
$(function() {
    function getPostPageInfo(page) {
        page = parseInt(page, 10);
        $.post('/getPostPageInfo',
            {page: page},
            function (msg) {
                var listHtml = '',
                        i = 0,
                        posts = null,
                        username,
                        pageHtml;
                msg = $.parseJSON(msg);
                posts = msg.posts;
                username = msg.username;
                for (; i < posts.length; i += 1) {
                    listHtml += '<tr><td>'+ (i+1) +'</td><td class="title">'+ posts[i].title +'</td><td>'+ posts[i].author +'</td><td>'+ posts[i].updateAt +'</td><td data-id="'+posts[i]._id+'"><button class="btn btn-default editPost" type="button">edit</button>&nbsp;<button class="btn btn-default delPost" type="button">del</button></td></tr>';
                }
                if (msg.isFirstPage === '' && msg.isLastPage === '') {
                    pageHtml = '<li><a href="#" data-page="'+(page-1)+'" id="prePage">Previous</a></li>'
                        +'<li><a href="#" data-page="'+(page+1)+'" id="nextPage">Next</a></li>';
                } else if (msg.isFirstPage === '1' && msg.isLastPage === '') {
                    pageHtml = '<li><a href="#" data-page="'+(page+1)+'" id="nextPage">Next</a></li>';
                } else if (msg.isLastPage === '1' && msg.isFirstPage === '') {
                    pageHtml = '<li><a href="#" data-page="'+(page-1)+'" id="prePage">Previous</a></li>';
                } else {
                    pageHtml = '<li></li>';
                }
                $('#archivesList tbody').html(listHtml);
                $('#archivesPage').html(pageHtml).prepend('<input type="hidden" value="'+page+'"/>');
            },
            'text'
        );
    }
    $('#archivesPage').on('click', '#nextPage, #prePage', function () {
        getPostPageInfo($(this).attr('data-page'));
    });
    getPostPageInfo(1);
    //删除文章
    $('#archivesList').on('click', '.delPost', function () {
        var $this = $(this),
                id = $this.parent().attr('data-id');
        if (confirm('确认删除此文章？')) {
            $.post('/delPost',
                {id: id},
                function (res) {
                    $this.parent().parent().remove();
                    getPostPageInfo($('#archivesPage input').val());
                },
                'text'
            );
        }
    });

    //编辑文章
    $('#archivesList').on('click', '.editPost', function () {
        var $this = $(this),
            title = $this.parent().siblings('.title').text(),
            id = $this.parent().attr('data-id');
        $.post('/getPostInfo',
            {id: id},
            function (res) {
                res = $.parseJSON(res);
                $('#myModal form input[name="id"]').val(res._id);
                $('#myModal form input[name="title"]').val(title);
                $('#myModal form textarea[name="content"]').val(res.content);
                $('#myModal').modal('show');
            },
            'text'
        );
    });

    //保存文章
    $('#myModal').on('click', '#savePost', function () {
        var $myModal = $('#myModal'),
            $that = $(this);
        $.post('/savePost',
            {
                id: $myModal.find('input[name="id"]').val(),
                title: $myModal.find('input[name="title"]').val(),
                content: $myModal.find('textarea').val(),
                tag: $myModal.find('select[name="tag"]').val()
            },
            function (res) {
                if (res === '修改成功') {
                    tips(res);
                    $myModal.modal('hide');
                    getPostPageInfo($('#archivesPage input').val());
                }else {
                    $that.parent().prepend('<span style="color:red;margin-left:50px;">' + res + '</span>');
                }
            },
            'text'
        );
    });

    $('form.reviseFrm').submit(function () {
        if (this.id === 'revisePwForm') {
            if ($('#newPw').val().replace(/\s/g, '') === '') {
                alert('密码不能为空！');
                return false;
            }
            if ($('#confirmPw').val() !== $('#newPw').val()) {
                alert('两次密码不一致！');
                return false;
            }
        }
    });

    $('#selfInfo').click(function () {
        $.get('/personalPage/getUserInfo',{},
            function (res) {
                if (res) {
                    console.log(res);
                    res = $.parseJSON(res);
                    $('#username').val(res.username);
                }
            },
            'text'
        );
    });
    
    // 增加标签
    $('#addTag').click(function () {
        $('#addTagModal').modal('show');
    });
    $('#addTagBtn').click(function () {
        $.post('/addTag',
            {name: $('#addTagName').val()},
            function (res) {
                if (res === '1') {
                    getTag();
                    $('#addTagModal').modal('hide');
                } else if (res === '-1') {
                    alert('标签名不能为空！');
                } else {
                    alert('提交失败！');
                }
            },
            'text'
        );
    });
    // 标签select
    getTag();
    function getTag() {
        $.get('/getTags',
            {},
            function (res) {
                var tagSelect = document.getElementById('tagSelect');
                tagSelect.options.length = 0;
                res = $.parseJSON(res);
                $.each(res, function (id, tag) {
                    tagSelect.add(new Option(tag.name, tag._id));
                });
            },
            'text'
        )
    }
});
</script>