      </div><!-- /.blog-main -->
      <div class="col-sm-3 col-sm-offset-1 blog-sidebar">
        <div class="sidebar-module sidebar-module-inset">
          
          <% if (!user) { %>
            <h4>登录</h4>
            <p><a href="/login/github" class="btn btn-primary btn-lg" role="button">请使用 GitHub 登录</a></p>
            <p>也可以选择账号<a href="/userLogin">登录</a>或<a href="/reg">注册</a></p>
          <% }else { %>
          <h4><%= user.name %></h4>
          <div class="row">
            <div class="col-md-4">
              <img src=<%= user.head %> style="width:60px;height:60px;">
            </div>
            <div class="col-md-8">
              <div></div>
              <div class="row">
                <div class="col-md-5"><a class="btn btn-default" href="/personalPage" role="button">博客</a></div>
                <div class="col-md-5"><a class="btn btn-default" href="/logout" role="button">退出</a></div>
              </div>
            </div>
          </div>
          <% } %>
          
        </div>
        <div class="sidebar-module">
          <h4>Archives</h4>
          <ol class="list-unstyled" id="topArchives">
            
          </ol>
        </div>
        <div class="sidebar-module">
          <h4>Elsewhere</h4>
          <ol class="list-unstyled">
            <li><a href="#">GitHub</a></li>
            <li><a href="#">Twitter</a></li>
            <li><a href="#">Facebook</a></li>
          </ol>
        </div>
      </div><!-- /.blog-sidebar -->
      
    </div><!-- /.row -->

  </div><!-- /.container -->